[Desktop Entry]
Name=Framr Deeplink Handler
Exec=framr %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/framr;
NoDisplay=true
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
Comment=Handle framr:// deeplinks for importing uploaders
